.choresText {
   color: darkslategrey;
   font-size: large;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: rebeccapurple;
   font-size: x-large;
   text-decoration: underline;
   text-align: left
}